{{> head}}
{{> navbar}}
<main class="page author">
  {{#author}}
    <div class="author__text">
      <h1>{{name}}</h1>
      {{#if description}}
        <div class="page--author__desc">
          {{{description}}}
        </div>
      {{/if}}
    </div>
    <div class="author__image">
      {{#if authorViewConfig.displayAvatar}}
      {{#if avatar}}
      <img src="{{avatarImage.url}}" {{
        lazyload "eager" }}
        height="{{avatarImage.height}}"
        width="{{avatarImage.width}}"
        alt="{{avatarImage.alt}}">
      {{/if}}
      {{/if}}
    </div>
  {{/author}}
</main>
{{> footer}}