{{> head}}
{{> navbar}}
<main class="page page--tag">
  {{#tag}}
  {{!-- {{#checkif #tag == 'Writing'}}
    <h1>DETECTED!!</h1>
  {{/checkIf}} --}}
  <div
    class="l-col l-col{{@config.custom.layoutTags}}">
    {{#each ../posts}}
    {{#if featuredImage.id}}
    <section
      class="c-card{{#isFeatured}} c-card--featured{{/isFeatured}}">
      <a href="{{url}}" class="c-card__link">
    {{!-- {{#featuredImage}} --}}
        {{#if featuredImage.url}}
        <div class="c-card__header">
          <img src="{{featuredImage.url}}" {{#if
            @config.site.responsiveImages}}
            {{responsiveImageAttributes 'featuredImage'
            featuredImage.srcset.cards featuredImage.sizes.cards}} {{/if}} {{
            lazyload "lazy" }} height="{{featuredImage.height}}"
            width="{{featuredImage.width}}" alt="{{featuredImage.alt}}">
        </div>
        {{/if}}
    {{!-- {{/featuredImage}} --}}
      </a>
    </section>
    {{/if}}
    {{/each}}
  </div>
  {{!-- {{/checkIf}} --}}
  {{> pagination}}
  {{!-- {{/if}} --}}
  {{/tag}}
</main>
{{> footer}}